[project]
	description = A simple camera demo app
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/avidit
[access "refs/for/refs/*"]
	read = group user/avidit
	push = group user/avidit
	label-Code-Review = -2..+2 group user/avidit
	label-Verified = -1..+1 group user/avidit
	rebase = group user/avidit
	removeReviewer = group user/avidit
	submit = group user/avidit
[access "refs/heads/*"]
	read = group user/avidit
	create = group user/avidit
	push = +force group user/avidit
	pushMerge = group user/avidit
[access "refs/tags/*"]
	push = +force group user/avidit
	pushTag = group user/avidit
	pushSignedTag = group user/avidit
